<!-- home.html -->

{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Home - Django Project{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="container text-center">
    <p>This is the top page content.</p>

    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto flex-column">
            <h2><li class="nav-item active"><a class="badge badge-light" href="{% url 'top' %}">管理TOP</a></li><h2>
            <h2><li class="nav-item"><a class="badge badge-info" href="{% url 'fruit' %}">果物マスタ管理</a></li></h2>
            <h2><li class="nav-item"><a class="badge badge-info" href="{% url 'sales_combined' %}">販売情報管理</a></li></h2>
            <h2><li class="nav-item"><a class="badge badge-info" href="{% url 'sales_aggregate' %}">販売統計情報</a></li></h2>
          </ul>
        </div>
      </nav>
    </div>
{% endblock %}
